.banner{
    background-image: url(../img/index/Perfume-your-day/photo-1588159343745-445ae0b16383.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 480px;
    @include md{
        background-image: url(../img/index/Perfume-your-day/photo-1588159343745-445ae0b16383@2x.png);
        height: 870px;
    }
    .btn{
        width: 100%;
        @include md{
            width:80%;
        }
    }
}

.main{
    .card{
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: (translateY(- 50%));
        @include md{
            width: 60%;
        }
    }
}

.soldOut{
    height: 100%;
    width: 100%;
    background-color: $secondary;
    opacity: 0.3;
    left: 0;
    top: 0;
    h4{
        margin: 72% 0;
    }
}
.recycle{
    .card{
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: (translateY(- 50%));
    }
    .bottle{
        background-image: url(../img/index/Bottle-Recycling/photo-1594913615593-e4b8c44625be@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 520px;
    }
}
